@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@font-face {
  font-family: "valken";
  src: url(../fonts/Valken__.ttf);
}
@font-face {
  font-family: "dosis";
  src: url(../fonts/DosisSemiBold.ttf);
}
@font-face {
  font-family: "helvetica";
  src: url(../fonts/Helvetica.ttf);
}
@font-face {
  font-family: "s-s-regular";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@keyframes jumping1 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: 0.8;
  }
  25% {
    transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
    opacity: 0.9;
  }
  50% {
    transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
    opacity: 0.8;
  }
  75% {
    transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
    opacity: 0.6;
  }
  85% {
    transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
    opacity: 0.85;
  }
}
@keyframes jumping2 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: 0.5;
  }
  25% {
    transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
    opacity: 0.8;
  }
  75% {
    transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
    opacity: 0.9;
  }
}
@keyframes jumping3 {
  0% {
    transform: translateY(10px) translateX(0) rotate(0) scale(1);
    opacity: 0.9;
  }
  20% {
    transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
    opacity: 0.8;
  }
  40% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
    opacity: 0.8;
  }
  40% {
    transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
    opacity: 1;
  }
  80% {
    transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
    opacity: 0.6;
  }
  100% {
    transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
    opacity: 0.7;
  }
}
@keyframes jumping4 {
  0% {
    transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
    opacity: 0.7;
  }
  25% {
    transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
    opacity: 0.8;
  }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
    opacity: 0.9;
  }
  75% {
    transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
    opacity: 0.9;
  }
}
@keyframes intro1 {
  0% {
    opacity: 0;
    top: 50px;
  }
  20% {
    opacity: 0;
    top: 30px;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes intro2 {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes btn-anim-1 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(102, 175, 233, 0.2), 0 0 0 5px rgba(102, 175, 233, 0.2), 0 0 0 10px rgba(102, 175, 233, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba(102, 175, 233, 0.2), 0 0 0 5px rgba(102, 175, 233, 0.2), 0 0 0 10px rgba(102, 175, 233, 0);
  }
}
@-webkit-keyframes wheel-up-down {
  100% {
    margin-top: 35px;
  }
  0% {
    margin-top: 2px;
  }
}
@-moz-keyframes wheel-up-down {
  100% {
    margin-top: 35px;
  }
  0% {
    margin-top: 2px;
  }
}
@keyframes wheel-up-down {
  100% {
    margin-top: 35px;
  }
  0% {
    margin-top: 2px;
  }
}
@keyframes wheel-up-down-1 {
  100% {
    margin-top: 40px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: 30px;
    opacity: 0;
  }
}
@keyframes wheel-left-right {
  100% {
    margin-left: 40px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-left: 0px;
    opacity: 0;
  }
}
@keyframes pulse-a {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(187, 219, 245, 0.4);
    box-shadow: 0 0 0 0 rgba(187, 219, 245, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(187, 219, 245, 0);
    box-shadow: 0 0 0 30px rgba(187, 219, 245, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(187, 219, 245, 0);
    box-shadow: 0 0 0 0 rgba(187, 219, 245, 0);
  }
}
@keyframes flash-width {
  0% {
    width: 0px;
  }
  100% {
    width: 20px;
  }
}
.btn-1 {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em !important;
  font-family: disis;
  font-weight: 10;
  background-color: #62ade8;
  font-size: 8px;
  color: white;
  padding: 8px 15px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  background-size: 300% 100%;
  border: 0;
  text-decoration: none !important;
}
.btn-1 i {
  font-weight: 700;
  font-size: larger;
  padding-right: 8px;
}
.btn-1 label {
  font-size: 1.3em;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}
.btn-1:hover {
  color: white;
  background-color: #3696e1;
}

.btn-2 {
  display: inline-block;
  padding: 5px 16px;
  border-radius: 50px;
  font-weight: 10;
  font-family: dosis !important;
  border: 1px solid #62ade8;
  font-size: 8px;
  color: white !important;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  background-size: 300% 100%;
}
.btn-2:hover {
  transform: scale(1.04);
  color: white;
  box-shadow: 0px 0px 6px rgba(171, 171, 171, 0.401);
}

.btn_3 {
  position: relative;
  font-weight: 500;
  color: #2f3d35;
  display: inline-block;
  z-index: 9;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  line-height: 46px;
  padding-left: 30px;
  margin-top: 15px;
  font-family: dosis;
}
.btn_3:after {
  height: 48px;
  width: 61px;
  background-color: #e6fada;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.btn_3 i {
  font-size: 12px;
  margin-left: 11px;
}

.btn-4 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em !important;
  font-family: disis;
  background-color: #62ade8;
  color: white;
  padding: 16px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  border: 0;
  text-decoration: none !important;
  font-weight: 700;
  font-size: larger;
}
.btn-4 i {
  font-weight: 700;
  font-size: 1.5em;
}

.toolbar-links {
  position: relative;
}
.toolbar-links a {
  line-height: 1;
  color: #797979;
}
.toolbar-links .tl-icon-count-holder {
  position: relative;
  display: inline-block;
  color: #62ade8;
}
.toolbar-links .tl-icon-count-holder .tl-icon {
  display: inline-block;
  font-size: 3em;
  vertical-align: middle;
}
.toolbar-links .tl-icon-count-holder .tl-count {
  font-size: 15px;
  line-height: 20px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #f8f8f8;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -6px;
}
.toolbar-links .tl-text-holder {
  font-size: 15px;
  margin-left: 17px;
}
.toolbar-links .tl-text-holder .tl-title {
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
}
.toolbar-links:hover a {
  color: #62ade8;
}

.item-fotter i,
.item-fotter span,
.item-fotter>a {
  color: #606060;
  font-size: 0.8em !important;
}
.item-fotter .footer-child {
  margin-right: 10px !important;
}

.product-item {
  cursor: pointer;
  background-color: white;
  position: relative;
  display: inline-block;

  vertical-align: top;
  width: 260px;
  outline: 1px solid #ebebeb;
  outline-offset: -1px;
  padding: 1px;
  transition: outline-color 0.3s ease-in-out;
}

@media (min-width:768px) and (max-width:900px){
  .product-item {
    width: 200px;
  }
}

@media (min-width:600px) and (max-width:767px){
  .product-item {
    width: 220px;
  }
  .p-filter-item {
    max-width: 100% ;
  }
}

@media (max-width:599px){
  .product-item {
    width: 100%;
  }
}



.product-item .item-desc {
  line-height: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 444.2rem;
}
.product-item .top {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.product-item .top .disc {
  position: absolute;
  top: 15px;
  right: 15px;
}
.product-item .top img {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  height: 300px;
}
.product-item .down h5 a {
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  color: #2c2c2c;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.166em;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: #2d2d2d !important;
}
.product-item:hover {
  outline: 1px dashed #62ade8;
}
.product-item:hover h5 a {
  text-decoration: underline;
  transition: outline-color 0.5s ease-in-out;
}

body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin-left: 0 !important;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

p {
  font-size: 0.9em;
  color: #797979;
}

p,
span {
  font-family: "Roboto", sans-serif;
}

input {
  outline: none;
}

.text-1 {
  color: #797979;
  font-family: "Dosis", sans-serif;
  text-transform: capitalize;
}

.text-2 {
  color: #bbb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-logo-mt-5 {
  margin-top: 5rem;
} 

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.input-text-content .field {
  position: relative;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}
.input-text-content .field .icon {
  position: absolute;
  border: 1px solid rgba(253, 253, 253, 0);
  right: 0;
  cursor: pointer;
}
.input-text-content span,
.input-text-content input {
  font-family: "Roboto", sans-serif;
}
.input-text-content span {
  /* color: #797979; */
  font-size: 15px;
}
.input-text-content input {
  /* color: #797979; */
  border: 0;
  /* border-radius: 20px; */
}
.input-text-content .google-btn {
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  background-color: white;
}
.input-text-content .google-btn span {
  color: #62ade8;
}

.line h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  line-height: 0.1em;
  margin: 10px 0 5px;
}
.line h6 span {
  background: white;
  padding: 0 10px;
  color: #bbb;
  font-size: small;
}

.f-c-link-b span,
.f-c-link-b a {
  color: #797979;
  font-size: 15px;
}
.f-c-link-b a:hover {
  color: #62ade8;
}

.error .field {
  color: rgb(196, 99, 99);
}
.error .error-message span {
  color: rgb(196, 99, 99);
  font-size: 0.8em;
}

.success .field {
  color: rgb(65, 157, 90);
  border: 1px solid rgb(65, 157, 90);
}

.hidden {
  visibility: hidden;
}

.d-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.d-icon:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  transform: scale(1.4);
}

.nav-icon {
  width: 21px;
  cursor: pointer;
}
.nav-icon::after, .nav-icon::before,
.nav-icon .in-d {
  background-color: rgba(255, 255, 255, 0.5568627451);
  border-radius: 10px;
  content: "";
  display: block;
  height: 3.4px;
  margin: 3px 0;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-icon:hover::before::after {
  background-color: #bbdbf5;
}

.open-menu-btn::before {
  transform: translateY(6.7px) rotate(135deg);
}
.open-menu-btn::after {
  transform: translateY(-6.7px) rotate(-135deg);
}
.open-menu-btn .in-d {
  transform: scale(0);
}

.open-menu {
  clip-path: circle(150% at 100% 0%) !important;
}

.activepage ::after {
  content: "";
  background-color: #bbdbf5;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  display: block;
  animation: flash-width 2s infinite;
}

.active-menu {
  border-radius: 2px;
  background-color: rgba(98, 173, 232, 0.04);
  border-left: 2px solid #bbdbf5;
}
.active-menu a {
  color: #bbdbf5;
}

.icon span {
  line-height: 1.3;
  position: relative;
  font-size: 10px;
  width: 70px;
  height: 70px;
  background: #bbdbf5;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon span i {
  font-size: 10px;
}

.icon2 {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.icon2 span {
  line-height: 1.3;
  position: relative;
  font-size: 30px;
  background: rgba(187, 219, 245, 0.1);
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon2 span i {
  font-size: 20px;
  color: #bbdbf5;
}

.icon3 {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.icon3 span {
  line-height: 1.3;
  position: relative;
  font-size: 30px;
  background: #bbdbf5;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon3 span i {
  font-size: 20px;
  color: #bbdbf5;
}

.icon4 {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation: pulse-a 2s infinite;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon4 span {
  line-height: 1.3;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon4 span [class^=flaticon-]:before,
.icon4 span [class*=" flaticon-"]:before,
.icon4 span [class^=flaticon-]:after,
.icon4 span [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  color: #bbdbf5;
}
.icon4 span i {
  font-size: 25px;
  color: #bbdbf5;
}

.icon7 {
  width: 60px;
  position: fixed;
  height: 60px;
  margin: 20px;
  z-index: 8;
  bottom: 0;
  right: 0;
  display: none !important;
  background: #bbdbf5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .icon7 {
    display: block !important;
    background: #bbdbf5;
  }
  .icon7 span {
    height: 60px;
    line-height: 1.3;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .icon7 span [class^=flaticon-]:before,
.icon7 span [class*=" flaticon-"]:before,
.icon7 span [class^=flaticon-]:after,
.icon7 span [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    color: white;
  }
  .icon7 span i {
    font-size: 20px;
    color: white;
  }
}
@media (max-width: 576px) {
  .icon7 {
    display: block !important;
    background: #bbdbf5;
  }
  .icon7 span {
    height: 60px;
    line-height: 1.3;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .icon7 span [class^=flaticon-]:before,
.icon7 span [class*=" flaticon-"]:before,
.icon7 span [class^=flaticon-]:after,
.icon7 span [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    color: white;
  }
  .icon7 span i {
    font-size: 20px;
    color: white;
  }
}
@media only screen and (min-width: 421px) and (max-width: 575px) {
  .icon7 {
    display: block !important;
    background: #bbdbf5;
  }
  .icon7 span {
    height: 60px;
    line-height: 1.3;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .icon7 span [class^=flaticon-]:before,
.icon7 span [class*=" flaticon-"]:before,
.icon7 span [class^=flaticon-]:after,
.icon7 span [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    color: white;
  }
  .icon7 span i {
    font-size: 20px;
    color: white;
  }
}
@media (max-width: 420px) {
  .icon7 {
    display: block !important;
    background: #bbdbf5;
  }
  .icon7 span {
    height: 60px;
    line-height: 1.3;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .icon7 span [class^=flaticon-]:before,
.icon7 span [class*=" flaticon-"]:before,
.icon7 span [class^=flaticon-]:after,
.icon7 span [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    color: white;
  }
  .icon7 span i {
    font-size: 20px;
    color: white;
  }
}

.icon5 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: rgba(187, 219, 245, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon5 span {
  line-height: 1.3;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon5 span i {
  font-size: 20px;
  color: #bbdbf5;
}

.icon6 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon6 span {
  line-height: 1.3;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon6 span i {
  font-size: 20px;
  color: #bbdbf5;
  animation: 1.6s ease infinite wheel-left-right !important;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 35px;
  font-style: normal;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 220;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.qodef-woo-product-mark {
  top: 18px;
  right: 0;
  padding: 0 22px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.188em;
  color: #62ade8;
  background-color: transparent;
  z-index: 5;
  background-color: #ececec;
}

.qodef-precent {
  top: 11px;
  right: 11px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  background-color: #ececec;
}

.price {
  position: relative;
  font-size: 13px;
  margin: 5px 0 0;
  justify-content: center;
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.111em;
  color: #43bdde;
  margin: 6px 0 0;
}
.price del {
  font-size: 18px;
  font-weight: 300;
  color: #9d9d9d;
  line-height: 1;
  position: relative;
  margin-right: 16px;
}
.price ins {
  text-decoration: none;
}

.small-gray-text a {
  font-size: 0.9em;
  color: rgb(134, 134, 134);
}
.small-gray-text a:hover {
  color: #62ade8;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.menu a {
  color: white !important;
}
.menu a:hover {
  color: white !important;
}

.force-main-color-bg {
  background-color: #62ade8 !important;
}

.force-main-color {
  color: #62ade8 !important;
}

.shared-container {
  background-color: #F5F5F5;
}

.progress-bar {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.progress .indeterminate {
  background-color: #e7f3fc;
}

.error-container {
  border-radius: 10px;
  background-color: rgba(255, 172, 172, 0.719);
  padding: 15px;
}
.error-container .error {
  flex-grow: 1;
}
.error-container i {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.progress .indeterminate::before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate::after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@-webkit-keyframes slideLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes slideLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes zeroLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes zeroLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #8ec4ef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.splash h3 {
  position: relative;
  color: #62ade8;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  animation: intro1 0.4s forwards linear;
  font-size: 0.7em;
}
.splash h3 strong {
  display: flex;
  margin-left: 4px;
  font-weight: 800;
  color: #62ade8;
}
.splash h3 strong::before, .splash h3 strong::after {
  content: ".";
  display: flex;
  font-family: dosis !important;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .splash h3 {
    font-size: 1.9vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .splash h3 {
    font-size: 1.9vw;
  }
}

.alert {
  position: relative;
  border-radius: 0 !important;
}
.alert .ico {
  padding-right: 0.5em;
}

.close {
  padding-left: 0.5em;
  opacity: 0.5;
  cursor: pointer;
}

.alert-alert {
  background-color: #efefef;
}
.alert-alert small,
.alert-alert span {
  color: #3d3d3d;
}
.alert-alert a {
  text-decoration: underline;
  font-size: small;
  color: black;
  font-weight: 900;
  text-decoration: none;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.alert-alert small {
  font-family: "Roboto", sans-serif;
}
.alert-alert .close {
  border-color: #3d3d3d;
  color: #62ade8;
}
.alert-alert .close i {
  font-size: 1em;
}

.close-cont {
  position: absolute;
  right: 13px;
}

.simple-alert {
  background-color: rgba(235, 235, 235, 0.4);
  border: 0.3px solid #d2d2d2;
}
.simple-alert small,
.simple-alert span {
  color: #929292;
}
.simple-alert a {
  text-decoration: underline;
  font-size: small;
  color: #858585;
  margin-left: 10px;
}
.simple-alert .close {
  border-color: #929292;
  color: #929292;
}

.success-alert {
  background-color: rgba(101, 207, 161, 0.4);
  border: 0.3px solid #3ec389;
}
.success-alert small,
.success-alert span {
  color: #1f6345;
}
.success-alert a {
  text-decoration: underline;
  font-size: small;
  color: #194f38;
  margin-left: 10px;
}
.success-alert .close {
  border-color: #1f6345;
  color: #1f6345;
}

.danger-alert {
  background-color: rgba(253, 168, 168, 0.4);
  border: 0.3px solid #fc7676;
}
.danger-alert small,
.danger-alert span {
  color: #ed0505;
}
.danger-alert a {
  text-decoration: underline;
  font-size: small;
  color: #d40505;
  margin-left: 10px;
}
.danger-alert .close {
  border-color: #ed0505;
  color: #ed0505;
}

.warning-alert {
  background-color: rgba(243, 219, 166, 0.4);
  border: 0.3px solid #edc979;
}
.warning-alert small,
.warning-alert span {
  color: #cb941b;
}
.warning-alert a {
  text-decoration: underline;
  font-size: small;
  color: #b58418;
  margin-left: 10px;
}
.warning-alert .close {
  border-color: #cb941b;
  color: #cb941b;
}

.info-alert {
  background-color: rgba(106, 188, 246, 0.4);
  border: 0.3px solid #3aa6f3;
}
.info-alert small,
.info-alert span {
  color: #0a64a4;
}
.info-alert a {
  text-decoration: underline;
  font-size: small;
  color: #08558c;
  margin-left: 10px;
}
.info-alert .close {
  border-color: #0a64a4;
  color: #0a64a4;
}

.empty-container {
  background-color: #F5F5F5;
}
.empty-container .empty-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input-text-content {
  /* Customize the label (the agree-container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.input-text-content .agree-container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-text-content .agree-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.input-text-content .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
  background-color: rgb(254, 254, 254);
}
.input-text-content .agree-container:hover input ~ .checkmark {
  background-color: #eee;
  border: 0;
}
.input-text-content .agree-container input:checked ~ .checkmark {
  background-color: #62ade8;
  border: 0;
}
.input-text-content .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input-text-content .agree-container input:checked ~ .checkmark:after {
  display: block;
}
.input-text-content .agree-container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input-text-content .td-st a {
  text-decoration: underline !important;
  color: #bbb;
  font-weight: 600;
}
.input-text-content .td-st a:hover {
  color: #8ec4ef;
}

.primary-button {
  background-color: #62ade8;
  color: white;
  border: 0;
  font-family: "Poppins", sans-serif;
}
.primary-button:hover {
  background-color: #55a6e6;
}

.primary-button.disabled {
 background-color: #62ade8;
}

.input-text-c input {
  border-radius: 20px !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: none !important;
  border-color: #ced4da;
  padding-right: 0.75em;
}

.form-control.is-valid, .was-validated .form-control:valid {
  background-image: none !important;
  border-color: #ced4da;
  padding-right: 0.75em;
}

.c-f-u-content {
  width: 30em;

}
.c-f-u-content h6 {
  color: #797979;
  font-size: 1.5em;
}
.c-f-u-content .c-header h3 {
  color: #2B8DD0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Dosis", sans-serif;
  font-size: 1em;
}
.c-f-u-content .c-header strong {
  margin-left: 4px;
  font-weight: 800;
  color: #48AC62;
}
.c-f-u-content .c-header strong::before,
.c-f-u-content .c-header strong::after {
  font-family: dosis !important;
}
@media only screen and (min-width: 421px) and (max-width: 575px) {
  .c-f-u-content {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .c-f-u-content {
    width: 100%;
  }
}

.c-f-content {
  background-color: white;
  border-bottom: 3px solid #bbdbf5;
  border-top: 3px solid #bbdbf5;
  box-shadow: 0 0 7px 0 #e1e1e1;
}

.c-f-i-content {
  max-height: calc(100vh - 25px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3rem;
}

.c-f-i-content::-webkit-scrollbar {
  width: 3px;
}

.c-f-i-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(233, 233, 233, 0.3);
  border-radius: 0;
}

.c-f-i-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: white;
}

.signup-container {
  background-color: #F5F5F5;
}

.email-sent h1 {
  color: #62ade8;
}
.email-sent h1 i {
  font-size: 2em;
}
.email-sent small {
  font-size: 0.8em;
  color: #797979;
}
.email-sent .error {
  color: rgb(196, 99, 99);
}

.v-comp-1 input {
  font-size: 0.7em !important;
}

.v-c-failed {
  background-color: white;
  box-shadow: 0 0 7px 0 #e1e1e1;
}

.form-container {
  border: 1px solid rgb(13, 13, 86) !important;
  width: 820px;
  height: 60%;
  margin: 2rem;
  padding: 2rem;
}

.input-control {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0 0 12px;
  padding: 13.5px 20px;
  font-family: inherit;
  font-size: 15px;
  line-height: 26px;
  font-weight: inherit;
  color: #777;
  background-color: transparent;
  border: 1px solid rgba(173, 173, 173, 0.7);
  border-radius: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.button-submit {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.154em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  padding: 19px 31px;
  color: #fff;
  background-color: #66bc89;
  border: 1px solid transparent;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #399b60;
}

.logo {
  height: 40px;
  position: relative;
}
.logo h6 {
  color: #62ade8;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  margin-left: 10px;
}
.logo h6:after {
  position: absolute;
  top: 10px;
  right: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: "";
  background: #bbdbf5;
  animation: pulse-a 2s infinite;
}

.header-top {
  border-bottom: 1px solid #ededed;
}
.header-top .container {
  margin: 0 !important;
  padding-bottom: 0 !important;
}
.header-top .container div {
  display: flex;
  justify-content: center;
  align-self: center;
}

.qodef-message-free-shipping {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #62ade8;
  text-align: center;
  line-height: 1.556em;
  margin: 0;
}

.toolbar-container {
  background-color: #62ade8;
}
.toolbar-container .links {
  position: relative;
}
.toolbar-container .links ul li {
  position: relative;
  margin-right: 25px;
  color: white;
  font-weight: 800;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}
.toolbar-container .links .right a {
  color: white !important;
  font-weight: 800;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}
.toolbar-container .links .down-down-menu {
  margin-top: 15.6px;
  position: absolute;
  display: block;
  border: 1px solid #efefef;
  width: 400px;
  height: 200px;
  z-index: 3;
}
.toolbar-container .links .dropdown-menu-arrow {
  top: -19px;
  left: 20px;
  width: 0;
  height: 0;
  position: relative;
}
.toolbar-container .links .dropdown-menu-arrow span {
  color: #62ade8;
}
.toolbar-container .links .dropdown-menu-arrow:before,
.toolbar-container .links .dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 9px 10px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.toolbar-container .links .dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.toolbar-container .links .dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.search {
  border-radius: 0;
  box-sizing: border-box;
}
.search input {
  border: 1px solid #efefef;
  outline: none;
}

.banner-content {
  position: inherit;
  z-index: 2;
}
.banner-content .slider-text .bread {
  font-weight: 500 !important;
  position: relative;
}
.banner-content h3 {
  position: relative;
  color: #cecece;
  text-transform: uppercase;
  font-family: s-s-regular;
  font-weight: 300;
  letter-spacing: 5px;
  display: flex;
  animation: intro1 0.4s forwards linear;
  font-size: 1.5vw;
}
.banner-content h3 strong {
  display: flex;
  font-family: s-s-regular;
  margin-left: 10px;
  font-weight: 800;
  color: #62ade8;
}
.banner-content h3 strong::before, .banner-content h3 strong::after {
  content: ".";
  display: flex;
  font-family: dosis !important;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner-content h3 {
    font-size: 1.9vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-content h3 {
    font-size: 1.9vw;
  }
}
.banner-content h1 {
  position: relative;
  font-family: Lato, sans-serif;
  margin-top: 30px;
  text-transform: capitalize;
  color: white;
  font-size: 1.5em;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner-content h1 {
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-content h1 {
    font-size: 3.5vw;
  }
}
.banner-content a {
  margin-top: 70px;
  text-decoration: none !important;
  border-radius: 2px !important;
  font-size: 1.2em !important;
  padding: 10px 35px !important;
  transition: all 0.5s ease-in-out !important;
}
@media only screen and (min-width: 421px) and (max-width: 575px) {
  .banner-content a {
    font-size: 3.5vw !important;
  }
}
@media (max-width: 420px) {
  .banner-content a {
    font-size: 3.5vw !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner-content a {
    font-size: 2vw !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-content a {
    font-size: 2vw !important;
  }
}
.banner-content .mouse {
  height: 80px !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 3 !important;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content .fix-mouse {
  position: fixed !important;
  top: 0;
  z-index: 6 !important;
  margin-top: 50px;
}
.banner-content .fix-mouse .mouse-icon {
  box-shadow: 0 0 6px 1px #bbdbf5;
  border: 1px solid white;
}
.banner-content .fix-mouse .mouse-wheel {
  animation: 1.6s ease infinite wheel-up-down-1 !important;
}
.banner-content .fix-mouse .mouse-wheel span {
  font-size: 17px;
  bottom: 0 !important;
}
.banner-content .mouse-icon {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.banner-content .mouse-wheel {
  height: 80px;
  margin: 35px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: white;
}
.banner-content .mouse-wheel span {
  font-size: 24px;
  font-weight: 900;
  position: relative;
  bottom: 0 !important;
}
.banner-content .carousel-item {
  height: calc(100vh - 350px);
}
.banner-content .carousel-item .carousel-captions {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.banner-content .bann-1 {
  height: 100%;
  padding-right: 10px;
}
.banner-content .bann-1 img {
  width: 100%;
  height: inherit;
}
.banner-content .bann-1 .banner1-inner {
  background-image: url("https://pharmacare.qodeinteractive.com/wp-content/uploads/2021/04/H-2-slider-img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content .bann-2,
.banner-content .bann-3 {
  width: 100%;
  height: calc((100vh - 350px) / 2);
  overflow: hidden;
}
.banner-content .bann-2 img,
.banner-content .bann-3 img {
  width: 100%;
  height: 100%;
  height: inherit;
}
.banner-content .banner2 {
  padding-bottom: 10px;
}
.banner-content .banner3 {
  padding-top: 10px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.product-home .product-filter {
  box-sizing: border-box;
}
.product-home .product-filter .p-filter-item {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: #efefef;
  color: #606060;
  font-weight: 700;
}
.product-home .product-filter .p-filter-item:hover {
  border: 1px solid #62ade8;
}
.product-home .product-filter .p-filter-item.active {
  background-color: #62ade8;
  color: white;
}

.footer {
  background: #02111e;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 7em 0;
}
.footer a {
  color: #bbdbf5;
}
.footer p {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}
.footer .copyright {
  color: rgba(255, 255, 255, 0.3);
  color: #999999;
}
.footer .footer-heading {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 700;
  color: white;
  position: relative;
}
.footer .footer-heading:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 40px;
  height: 4px;
  background: #bbdbf5;
}
.footer ul.list-unstyled li a {
  color: rgba(255, 255, 255, 0.7);
}
.footer .block-21 .img {
  display: block;
  height: 80px;
  width: 80px;
}
.footer .block-21 .text {
  width: calc(100% - 100px);
  margin-left: 5px !important;
}
.footer .block-21 .text .heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.footer .block-21 .text .heading a {
  color: white;
}
.footer .block-21 .text .heading a:hover, .footer .block-21 .text .heading a:active, .footer .block-21 .text .heading a:focus {
  text-decoration: none;
}
.footer .block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.footer .block-21 .text .meta > div a {
  color: gray;
}
.footer .block-23 ul li {
  color: rgba(255, 255, 255, 0.6);
}
.footer .block-23 ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.footer .block-23 ul li .icon {
  color: rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}
.footer .ftco-footer-social li a {
  background: rgba(255, 255, 255, 0.1);
  color: #bbdbf5;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(187, 219, 245, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: white;
}

.footer-small-nav > li {
  display: inline-block;
}
.footer-small-nav > li a {
  margin: 0 10px 10px 0;
}
.footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
  color: #bbdbf5;
}

.adf-1 {
  position: relative;
  position: relative;
}
.adf-1 .container {
  overflow: hidden;
  position: relative;
}
.adf-1 .container .content {
  position: absolute;
  top: 0;
}
.adf-1 .container .content h4, .adf-1 .container .content h3 {
  color: #2d2d2d;
  font-weight: 800;
}
.adf-1 .container .content a {
  columns: #62ade8;
  font-family: "Dosis", sans-serif;
}

.adf-2 {
  box-sizing: border-box;
  border: 1px dashed #efefef;
}
.adf-2 .content {
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.6);
}
.adf-2 .content h4 {
  color: #797979;
}

.heading-section .subheading {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 0;
  color: #bbdbf5;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}
.heading-section .subheading:after {
  position: absolute;
  top: 50%;
  left: -60px;
  content: "";
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  margin-top: -1px;
  background: #bbdbf5;
}
.heading-section .subheading:before {
  position: absolute;
  top: 50%;
  right: -60px;
  content: "";
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  margin-top: -1px;
  background: #bbdbf5;
}
.heading-section h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #62ade8;
}
@media (max-width: 767.98px) {
  .heading-section h3 {
    font-size: 28px;
  }
}

.testimony-section {
  position: relative;
  position: relative;
}
.testimony-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 350px;
  z-index: -1;
}
.testimony-section .owl-carousel {
  margin: 0;
}
.testimony-section .owl-carousel .owl-stage-outer {
  padding: 1.5em 0 2em 0;
  position: relative;
}
.testimony-section .owl-nav {
  position: absolute;
  top: 100%;
  width: 100%;
}
.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  outline: none !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
  color: white;
}
.testimony-section .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}
.testimony-section:hover .owl-nav .owl-prev,
.testimony-section:hover .owl-nav .owl-next {
  opacity: 1;
}
.testimony-section:hover .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section:hover .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}
.testimony-section .owl-dots {
  text-align: center;
}
.testimony-section .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.testimony-section .owl-dots .owl-dot.active {
  background: #bbdbf5;
}

.testimony-wrap {
  display: block;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 0 20px;
  margin: 10px;
  box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.24);
}
.testimony-wrap .text p {
  font-size: 15px !important;
}
.testimony-wrap .testimony-icon {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #bbdbf5;
}
.testimony-wrap .testimony-icon span {
  color: white;
  font-size: 12px;
}
.testimony-wrap .user-img {
  width: 50px !important;
  height: 50px !important;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimony-wrap .name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0;
}
.testimony-wrap .position {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.442);
}

@media (max-width: 767.98px) {
  .about-image {
    height: 300px;
    margin-bottom: 30px;
  }
}

.text-green {
  color: rgb(11, 218, 108);
}

.bg-green {
  background-color: rgb(11, 218, 108);
}

.border-green {
  border: 1px rgb(11, 218, 108) solid;
}

.border-white {
  border: 1px white solid;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */

input, textarea{
  background-color: rgb(255, 255, 255) !important;
  width: 200px;
}

.logo-container {
  color: #fff;
}

